.container {
  max-width: 928px;
  padding: 4px 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 2px;
  background-color: transparent;
}

.divisoria2 {
  margin-top: -20px;
  position: relative;
  margin-bottom: -5px;
}

.divisoria1 {
  margin-top: -20px;
  position: relative;
  margin-bottom: -5px;
}

.bloco1 {
  background: url("../objetos/bg1_1.png") no-repeat;
  background-size: 100% 100%;
  padding-bottom: 46px;
  margin-left: 5%;
  z-index: -1;
}

.bloco2 {
  background: url("../objetos/bg2_1.png") no-repeat;
  background-size: 100% 100%;
}

.bloco2>.container,
h4 {
  color: #fff;
}

.bloco2_1 {
  background: url("../objetos/bg3_1.png") no-repeat;
  background-size: 100% 100%;
}

.bloco3 {
  background: url("../objetos/bg1_2.png") no-repeat;
  background-size: cover;
}

.bloco3>.container {
  background-color: #fff;
}

.bloco3_1 {
  background: url("../objetos/painel_bg.png") no-repeat;
  background-size: 100% 100%;
  margin-left: -15%;
}

.bloco4 {
  background: url("../objetos/bg2_1_2.png") no-repeat;
  background-size: 100% 100%;
  padding-bottom: 23%;
  padding-top: 10%;

}

.bloco4>.container {
  background-color: #005154;
  color: #fff;
}

.bloco5 {
  background: url(../objetos/bg_rodape_2ccc.png) white no-repeat;
  background-size: 100% 58%;
  background-position: bottom;
  padding-bottom: 451px;
}

.bloco6 {
  background: url("../objetos/bg1_1_3.png") no-repeat;
  background-size: 100% 100%;
}

.bloco6>.container {
  background-color: #fff;
}

.bloco7 {
  background: url("../objetos/bg2_2_3.png") #fff no-repeat;
  background-size: 100% 100%;
}

.bloco8 {
  background: url("../objetos/bg3_3.png") no-repeat;
  background-size: 100% 100%;
}

.bloco8>.container {
  color: #fff;
}

.bloco9 {
  background: url("../objetos/bg4_3.png") no-repeat;
  background-size: 100% 100%;
}

.bloco10>.container {
  color: #fff;
}

.bloco10 {
  background: url("../objetos/bg3_3.png") no-repeat;
  background-size: 100% 100%;
}

.bloco11 {
  background: url("../objetos/bg5_3.png") no-repeat;
  background-size: 100% 100%;
}

.bloco12 {
  background: url("../objetos/bg1_4.png") no-repeat;
  background-size: 100% 100%;
}

.bloco12>.container {
  background-color: #fff;
}

.bloco13 {
  background-color: #fff;
}

.bloco14 {
  background: url("../objetos/bg2_4.png") no-repeat;
  background-size: 100% 100%;
}

.bloco14>.container {
  color: #fff;
}

.bloco15 {
  background: url("../objetos/bg3_4.png") no-repeat;
  background-size: 100% 100%;
}

.bloco16 {
  background-color: #005154;
}

.bloco17 {
  background: url("../objetos/bg_top_5.png") no-repeat,
    url("../objetos/bg_bottom_5.png") no-repeat;
  background-size: 100%;
  background-position: top, bottom;
}

.bloco18 {
  background: url("../objetos/referencias.jpg") no-repeat;
  background-size: 100% 100%;
}

.bloco18>.container {
  background-color: #fff;
}

.parallax {
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax-1 {
  background-image: url("../objetos/parallax1_3.jpeg");
}

#parallax-2 {
  background-image: url("../objetos/parallax2_3.jpeg");
}

#parallax-3 {
  background-image: url("../objetos/parallax1_4.jpeg");
}

#parallax-4 {
  background-image: url("../objetos/parallax2_4.png");
}

.rellax {
  position: absolute;
  width: 10%;
  z-index: 5;

}

.rellax1 {
  top: 336px;
  width: 26%;
  left: -1px;
  z-index: 0;
}

.rellax2 {
  top: 1279px;
  width: 10%;
  left: 189px;
}

.rellax3 {
  top: 1846px;
  width: 10%;
  right: 194px;
}

.rellax4 {
  top: 6362px;
  width: 16%;
  right: 120px;
}

.rellax5 {
  top: 6483px;
  width: 16%;
  left: 124px;
}

.rellax6 {
  top: 4809px;
  width: 10%;
  right: 159px;
}

.rellax7 {
  top: 3545px;
  width: 10%;
  left: 91px;
}

.rellax8 {
  top: 628px;
  width: 10%;
  right: 200px;
}

.rellax9 {
  top: 659px;
  width: 10%;
  left: 128px;
}

.titulo2-pg1 {
  color: #ff9200;
}

.titulo-pg1 {
  color: #00838D;
}

.titulo-pg2 {
  color: #00838D;
}

.titulo2-pg2 {
  color: #fff;
}

.titulo3-pg2 {
  color: #ff9200;
}

.titulo-pg3 {
  color: #00838D;
}

.titulo-pg4 {
  color: #00838D;
}

.titulo2-pg4 {
  color: #fff;
}

.paragrafo-pg4 {
  color: #fff;
}

.titulo-pg5 {
  color: #00838D;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
































.modal-body {
  background: url("../objetos/bg_modal.png") no-repeat;
  background-size: 100% 100%;
}

.modal-header {
  background-color: transparent !important;
}

.titulo-modal {
  color: #00838D;
  border-bottom: 1px solid #00838D;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-body-simples {
  background-color: #fff;
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-body-transcricao {
  color: #000;
  background-color: #fff;
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-title-transcricao {
  color: #00838D;
  border-bottom: 1px solid #00838D;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-close {
  background: url("../objetos/bt_fechar.png") no-repeat;
  width: 76px;
  height: 77px;
  border: none;
  opacity: unset;
  box-sizing: unset;
}

.btn-sesc-modal {
  border: 2px solid #00838D;
  padding: 6px 15px;
  font-weight: bold;
  font-size: .8rem;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #00838D;
  color: #fff;
  background-color: #00838D;
  width: 100px;
  height: 50px;
}


.bt-print {
  margin: 10px;
}

figcaption {
  text-align: center;
}

.dropdown button {
  background: url("../../assets/img/ico-transcricao_alt.png") no-repeat;
  background-color: #00838d;
  background-size: 100%;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  padding: 15px;
}

.painel-producao {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.bt-producao-1 {
  width: 277px;
  height: 305px;
  background: url("../objetos/bt1.png") no-repeat;
  border: none;
  margin-right: 15px;
  margin-bottom: 20px;
}

.bt-producao-2 {
  width: 277px;
  height: 305px;
  background: url("../objetos/bt2.png") no-repeat;
  border: none;
  margin-right: 15px;
  margin-bottom: 20px;
}

.bt-producao-3 {
  width: 277px;
  height: 305px;
  background: url("../objetos/bt3.png") no-repeat;
  border: none;
  margin-right: 15px;
  margin-bottom: 20px;
}

.bt-producao-4 {
  width: 277px;
  height: 305px;
  background: url("../objetos/bt4.png") no-repeat;
  border: none;
  margin-right: 15px;
  margin-bottom: 20px;
}

.bt-producao-5 {
  width: 277px;
  height: 305px;
  background: url("../objetos/bt5.png") no-repeat;
  border: none;
  margin-right: 15px;
  margin-bottom: 20px;
}

.bt-producao-1:hover {
  background: url("../objetos/bt1_hv.png") no-repeat;
}

.bt-producao-2:hover {
  background: url("../objetos/bt2_hv.png") no-repeat;
}

.bt-producao-3:hover {
  background: url("../objetos/bt3_hv.png") no-repeat;
}

.bt-producao-4:hover {
  background: url("../objetos/bt4_hv.png") no-repeat;
}

.bt-producao-5:hover {
  background: url("../objetos/bt5_hv.png") no-repeat;
}

.dropdown button {
  background: url("../../assets/img/menu-alt.png") center no-repeat;
  background-color: #fff;
  background-size: 70%;
  box-shadow: 4px 4px 0px rgba(187, 187, 187, 0.8);
  margin-left: 10px;
  width: 30px;
  height: 30px;
  padding: 20px;
  top: 15px;
  left: 15px;
  position: fixed;
  z-index: 1050;
}

.game-descricao-img img {
  top: -3px !important;
  left: -23px;
}

a[data-bs-toggle="tooltip"] {
  text-decoration: none;
  border: 1px dashed #00838D;
  padding: 2px 4px;
  color: #00838D;

}

.painel-exposicao {
  background: url(../objetos/painel.png) no-repeat;
  width: 1137px;
  height: 650px;
  display: flex;
  margin: auto;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.btn-exposicao1 {
  width: 143px;
  height: 266px;
  background: url("../objetos/painel_bt1.png") no-repeat;
  border: none;
  margin-top: 40px;
  margin-left: 5px;
}

.btn-exposicao2 {
  width: 143px;
  height: 266px;
  background: url("../objetos/painel_bt2.png") no-repeat;
  border: none;
  margin-top: -11px;
  margin-left: 12px;
}

.btn-exposicao3 {
  width: 143px;
  height: 264px;
  background: url("../objetos/painel_bt3cc.png") no-repeat;
  border: none;
  margin-top: 40px;
  margin-left: -10px;
}

.btn-exposicao4 {
  width: 143px;
  height: 264px;
  background: url("../objetos/painel_bt4cc.png") no-repeat;
  border: none;
  margin-top: 40px;
}

.btn-exposicao5 {
  width: 143px;
  height: 266px;
  background: url("../objetos/painel_bt5.png") no-repeat;
  border: none;
  margin-top: -11px;
  margin-left: 37px;
}

.btn-exposicao6 {
  width: 143px;
  height: 266px;
  background: url("../objetos/painel_bt6.png") no-repeat;
  border: none;
  margin-top: 40px;
}

.btn-exposicao1:hover {
  transform: scale(1.1);
}

.btn-exposicao2:hover {
  transform: scale(1.1);
}

.btn-exposicao3:hover {
  transform: scale(1.1);
}

.btn-exposicao4:hover {
  transform: scale(1.1);
}

.btn-exposicao5:hover {
  transform: scale(1.1);
}

.btn-exposicao6:hover {
  transform: scale(1.1);
}

.cabecalho {
  background-color: #00828a;
  display: block;
}

.cabecalho img {
  max-width: 100%;
  max-height: 100%;
}

.cabecalho_logos {
  display: none;
}


.tooltip-link:hover {
  color: inherit;
}

.tooltip-link {
  text-decoration: none;
  border-bottom: 2px dashed #333;
  color: inherit;
  font-size: 18px;
}






/* carousel*/
.painel_digital {
  width: 1275px;
  height: 651px;
  display: flex;
  background: url("../objetos/painel_bg_1.png");
  margin-left: -25%;

}


.btn-digital1 {
  width: 643px;
  height: 403px;
  background: url("../objetos/painel_digital1.png") no-repeat;
  border: none;
  scale: 0.5;
}

.btn-digital2 {
  width: 643px;
  height: 403px;
  background: url("../objetos/painel_digital2.png") no-repeat;
  border: none;
  scale: 0.5;
}

.btn-digital3 {
  width: 643px;
  height: 403px;
  background: url("../objetos/painel_digital3.png") no-repeat;
  border: none;
  scale: 0.5;
}

.btn-digital4 {
  width: 643px;
  height: 403px;
  background: url("../objetos/painel_digital4.png") no-repeat;
  border: none;
  scale: 0.5;
}

#carousel {
  position: relative;
  height: 651px;
  top: 50%;
  /* transform: translateY(-7%); */
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}

#prev {
  background: url("../img/ico-esq_alt.png") #005154;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 20px;
}

#next {
  background: url("../img/ico-dir_alt.png") #005154;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 20px;

}









#carousel div img {
  width: 400px;
  transition: width 1s;
}

#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
  width: 200px;
}

#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
  width: 200px;
}

#carousel div.prev {
  z-index: 5;
  left: 29%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.prev img {
  width: 300px;
}

#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel div.prevLeftSecond img {
  width: 200px;
}

#carousel div.selected {
  z-index: 10;
  left: 55%;
  transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
  z-index: 5;
  left: 80%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
  width: 300px;
}

#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel div.nextRightSecond img {
  width: 200px;
}

.buttons {
  position: relative;
  text-align: end;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 20px;
}

/* fim carousel*/

.esquemaDaBru .alt-verdadeiro {
  background: url('../objetos/bt_verdadeiro.png') center no-repeat;
  width: 300px;
  height: 81px;
  border: none;
}

.esquemaDaBru .alt-verdadeiro:hover {
  background: url('../objetos/verdadeiro_hv.png') center no-repeat;
  box-shadow: none;
}

.esquemaDaBru .alt-verdadeiro.alt-e.selected {
  background: url('../objetos/bt_verdadeiro_errado.png') center no-repeat;
  box-shadow: none;
}

.esquemaDaBru .alt-verdadeiro.alt-c.selected {
  background: url('../objetos/bt_verdadeiro_certo.png') center no-repeat;
  box-shadow: none;
}

.esquemaDaBru .alt-falso {
  background: url('../objetos/bt_falso.png') center no-repeat;
  width: 300px;
  height: 81px;
  border: none;
  background-position: center;
}

.esquemaDaBru .alt-falso:hover {
  background: url('../objetos/falso_hv.png') center no-repeat;
  box-shadow: none;
}

.esquemaDaBru .alt-falso.alt-e.selected {
  background: url('../objetos/bt_falso_errado.png') center no-repeat;
  box-shadow: none;
}

.esquemaDaBru .alt-falso.alt-c.selected {
  background: url('../objetos/bt_falso_certo.png') center no-repeat;
  box-shadow: none;
}

.esquemaDaBru .enunciado {
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
}

a.inverter[data-bs-toggle="tooltip"] {
  border-color: white;
  color: white;
}

.apagar {
  width: 500px;
  height: 200px;
  background-color: red;
  margin: auto;
  display: block;
}

/* .citacao {
  padding: 40px;
  padding-left: 60px;
  position: relative;
  margin-left: 29%;
  margin-right: 100px;
  margin-top: 60px;
  margin-bottom: 30px;
  color: #fff;
  background-color: #005154;
  border-radius: 25px;
  font-size: 14px;
} */

.citacao {
  margin-left: 29%;
  font-size: 14px;
  color: #fff;
  border-radius: 25px;
  padding-left: 0;
}


#gaitinha03 .accordion-header .accordion-button {
  height: 50px !important;
  background-color: #00838D !important;
  background-image: none !important;
}

#gaitinha03 .accordion-header .accordion-button img {
  margin-right: 20px !important;
  width: 6%;
}

.painel-gaitinha .accordion-button:before {
  content: "";
  width: 50px;
  height: 50px;
  background: url(../img/ico-mais.png) center center no-repeat;
  margin-right: 10px;
  background-color: #ff9200;
}

.accordion-button:not(.collapsed)::before {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(../img/ico-menos.png);
  margin-right: 10px;
}

.legenda {
  font-size: 0.75rem;
  text-align: center;
}

.dropdown-menu {
  background: unset;
  background-color: #00838d !important;
}

.bg-podcast {
  background: url(../objetos/podcast.png) no-repeat;
  max-width: 914px;
  height: 302px;
  background-size: contain;
}

.sesc-audio-player {
  color: white;
  padding: 8px 20px;
  line-height: 0;
  margin: 100px 0;
  width: 25%;
  margin-right: 30px;
}

.sesc-audio-player .botoes {
  margin-left: 10%;
}

.sesc-audio-player .barra {
  margin-top: 5%;
}

.caixa1 {
  padding: 40px;
  padding-left: 60px;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
  margin-bottom: 30px;
  color: #fff;
  background-color: #005154;
  border-radius: 25px;
}

.caixa2-verde-claro {
  padding: 40px;
  padding-left: 60px;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
  margin-bottom: 30px;
  color: #fff;
  background-color: #018088;
  border-radius: 25px;
}





.caixa1 .bt-tooltip {
  color: #ffff;
}

.caixa1 li {
  background: url("../../assets/objetos/bullet.png") left center no-repeat;
  list-style-type: none;
  padding-left: 22px;
  position: relative;
}

.pagination {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

/*menu*/
.dropdown-menu {
  background: #707070;
  border-radius: 0;
  padding: 20px 35px;
  box-shadow: 4px 4px 0px rgba(187, 187, 187, 0.8);
  left: -1px !important;
  top: -2px !important;
}

.dropdown-menu a {
  border-bottom: 1px solid #fff;
  padding: 0;
  padding-bottom: 10px;
  margin-bottom: 12px;
  color: #fff;
}

.dropdown-menu a:hover {
  color: #fff;
  background: none;
  text-decoration: underline;
}

.dropdown-menu ul a i {
  display: none;
}

.dropdown-menu ul a.ativo i {
  display: inline;
  margin-left: -15px;
}

.dropdown-menu li:last-child a {
  border: none;
}

.bt-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background: none;
  border: none;
}

.fixar {
  position: fixed;
  width: 100%;
  top: 0;
  margin-top: unset;
  z-index: 9;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordion-button i {
  font-size: 20px;
  margin: 0 10px;
}

.dropdown-toggle::after {
  display: none;
}

.bg-light {
  background: #e2e2e2;
  border-bottom: 2px solid #a8a8a8;
  border-top: 2px solid #bdbdbd;
}

.navbar-collapse {
  background: none;
}

.nav-link i {
  font-size: 25px;
  color: #848383;
  margin-right: 10px;
}

.navbar {
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  padding: 5px 0;
}

.offcanvas {
  background-color: #00838d;
}



.dropdown-menu {
  background: unset;
  background-color: #00838d !important;
}

.bg-fundo {
  background-color: #000;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 500;
  opacity: 0.7;
  filter: alpha(opacity=70);
  display: none;
}

.bg-fundo {
  position: fixed;
  top: 0;
  left: 0;
}

/*fim do menu*/

.icone.saiba-mais::before {
  background-color: transparent;
}

.icone.refletir::before {
  background-color: transparent;
}

.icone.pesquisar::before {
  background-color: transparent;
}


iframe {
  width: 580px;
  height: 360px;
  margin: 10px auto;
  display: block;
  background-color: #000;
  color: #fff;
}

p {
  word-wrap: break-word;
}

@media screen and (max-width: 1920px) {
  /* .rellax1 {
    top: 336px;
    width: 16%;
    left: -1px;
    height: 74%;
  } */

  .rellax4 {
    top: 6362px;
    width: 16%;
    right: 74px;
  }

  .rellax5 {
    top: 6483px;
    width: 16%;
    left: 85px;
  }
}

.mobile {
  display: flex !important;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

@media only screen and (max-width: 1440px) {
  .rellax1 {
    top: 306px;
    width: 36%;
    left: -1px;
  }

  .bloco1 {
    margin-left: 27%;
  }
}

@media screen and (max-width: 1440px) {
  .bloco1>.container {
    max-width: 856px;
    padding: 4px 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 2px;
    background-color: transparent;
  }

  .rellax2 {
    top: 1279px;
    width: 8%;
    left: 36px;
  }

  .rellax4 {
    top: 6628px;
    width: 12%;
    right: 1px;
  }

  .rellax5 {
    top: 6582px;
    width: 10%;
    left: 20px;
  }
}

@media only screen and (max-width: 1400px) {
  .rellax1 {
    top: 306px;
    width: 36%;
    left: -1px;
  }

  .bloco1 {
    margin-left: 29%;
  }
}

@media screen and (max-width: 1400px) {
  /* .rellax1 {
    top: 306px;
    width: 22%;
    height: 85%;
    left: -1px;
  } */

  .rellax7 {
    top: 3545px;
    width: 10%;
    left: 73px;
  }
}

@media only screen and (max-width: 1366px) {
  .rellax1 {
    top: 306px;
    width: 37%;
    left: -1px;
  }

  .bloco1 {
    margin-left: 30%;
  }
}

@media screen and (max-width: 1151px) {
  .painel-exposicao {
    background: unset;
    width: 80%;
    height: unset;
    display: flex;
    margin: unset;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 24%;
  }


  .btn-exposicao1 {
    width: 143px;
    height: 266px;
    background: url("../objetos/painel_bt1.png") no-repeat;
    border: none;
    margin-top: unset;
    margin-left: unset;
  }
  
  .btn-exposicao2 {
    width: 143px;
    height: 266px;
    background: url("../objetos/painel_bt2.png") no-repeat;
    border: none;
    margin-top: unset;
    margin-left: unset;
  }
  
  .btn-exposicao3 {
    width: 143px;
    height: 264px;
    background: url("../objetos/painel_bt3cc.png") no-repeat;
    border: none;
    margin-top: unset;
    margin-left: unset;
  }
  
  .btn-exposicao4 {
    width: 143px;
    height: 264px;
    background: url("../objetos/painel_bt4cc.png") no-repeat;
    border: none;
    margin-top: unset;
  }
  
  .btn-exposicao5 {
    width: 143px;
    height: 266px;
    background: url("../objetos/painel_bt5.png") no-repeat;
    border: none;
    margin-top: unset;
    margin-left: unset;
  }
  
  .btn-exposicao6 {
    width: 143px;
    height: 266px;
    background: url("../objetos/painel_bt6.png") no-repeat;
    border: none;
    margin-top: unset;
  }

  .bloco1 {
    margin-left: unset;
  }
}

@media screen and (max-width: 1000px) {

  .cabecalho {
    background-color: #00828a;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 70px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }

  .cabecalho__img {
    display: none;
  }

  .cabecalho_logos {
    display: inline-block;
  }
  .dropdown button {
    background: url(../../assets/img/menu-alt.png) center no-repeat;
    background-color: #fff;
    background-size: 70%;
    box-shadow: 4px 4px 0px rgba(187, 187, 187, 0.8);
    margin-left: 10px;
    width: 30px;
    height: 30px;
    padding: 20px;
    top: 77px;
    left: -3px;
    position: fixed;
    z-index: 1050;
}


}





@media only screen and (max-width: 820px) {
  .btn-digital1 {
    scale: 0.9;
  }

  .btn-digital2 {
    scale: 0.9;
  }

  .btn-digital3 {
    scale: 0.9;
  }

  .btn-digital4 {
    scale: 0.9;
  }
}

@media screen and (max-width: 820px) {
.bloco4 {
  background: url(../objetos/bg2_1_2.png) no-repeat;
  background-size: 100% 100%;
  padding-bottom: 2%;
  padding-top: 10%;
}

.bloco5 {
  background: url(../objetos/bg_rodape_2ccc.png) white no-repeat;
  background-size: 100% 32%;
  background-position: bottom;
  padding-bottom: 451px;
  margin-top: -5px;
}



}
@media only screen and (max-width: 768px) {
#accordionExample.painel-gaitinha .accordion-button:before {
  margin-left: -19px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  top: Calc(50% - 25px);
  display: block;
  left: 20px;
  position: absolute;

}
#accordionExample.painel-gaitinha .accordion-button strong {
  margin: 0;
  padding-left: 5%;
}
}


@media screen and (max-width: 768px) {
  #gaitinha03 .accordion-button:before {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .btn-digital1 {
    margin-bottom: -151px;
    margin-top: -64px;
  }

  .btn-digital2 {
    margin-bottom: -151px;
    margin-top: -64px;
  }

  .btn-digital3 {
    margin-bottom: -151px;
    margin-top: -64px;
  }

  .btn-digital4 {
    margin-bottom: -151px;
    margin-top: -64px;
  }

  #gaitinha03 .accordion-button {
    background-image: none;
  }

  #accordionExample .accordion-button {
    background-image: none;
    height: 40px;
    display: block;
    padding-left: 40px;
    padding-right: 10px;
  }

  .bloco4 {
    background: unset;
    background-size: unset;
    padding-bottom: unset;
  }

  .bloco5 {
    background-size: 100% 40%;
  }



}



@media screen and (max-width: 500px) {
  .citacao {
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
  }

  .painel_digital {
    background: unset;
  }

  .container {
    background-color: #fff;
  }

  .bloco16>.container {
    background-color: #005154;
  }

  .bloco4>.container {
    background-color: #005154;
  }

  .sesc-audio-player {
    margin: -10px auto;
    padding-top: 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: unset;
    margin-top: 78px;
  }
  .sesc-audio-player .botoes {
    margin-left: 14%;
  }
  .sesc-audio-player .barra {
    margin-top: 7%;
  }
  .caixa1 {
    margin-left: unset;
    margin-right: unset;
  }

  .icone::before {
    top: -54px;
    left: -68px;
  }

  .bloco2>.container {
    background-color: #00838D;
  }

  .divisoria1 {
    margin-top: -9px;
    position: relative;
    margin-bottom: -5px;
  }

  .bloco5 {
    background: unset;
    background-size: unset;
    background-position: unset;
    padding-bottom: unset;
  }

  .bloco8>.container {
    color: #000;
  }

  .bloco10>.container {
    color: #000;
  }

  .bloco14>.container {
    color: #000;
  }

  .titulo2-pg4 {
    color: #00838D;
  }

  .paragrafo-pg4 {
    color: #fff;
  }

  #accordionExample.painel-gaitinha .accordion-button strong {
    margin-left: 3%;
    padding-left: 10%;
}
#accordionExample.painel-gaitinha .accordion-button:before {
  margin-left: -19px;
  background-repeat: no-repeat;
  width: 53px;
  height: 83px;
  top: Calc(50% - 42px);
  display: block;
  left: 19px;
  position: absolute;
}
.accordion-button {
  padding: 10px 0px;
}
#accordionExample .accordion-button {
  background-image: none;
  height: auto;
  display: block;
  padding-left: 73px;
  padding-right: 10px;
}

.accordion-button {height: 90px !important;}
}

@media screen and (max-width: 375px) {
  .divisoria1 {
    margin-top: -4px;
    position: relative;
    margin-bottom: -5px;
  }
}